{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la boutique{% endblock %}

{% block body %}
    <h1>Bienvenue {{ app.user.email }}</h1>

    <p>Explore nos catégories :</p>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('app_logout') }}">Déconnexion</a></p>
{% endblock %}
